/* This is a comment */

* {
    color: rgb(61, 61, 61);
    font-family: 'Lato', sans-serif;
}

h1 {
    font-family: 'Roboto', sans-serif;
    color: #2c2b2b;
    background-color: white;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    border-radius: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
p {
    color: hsla(0, 0%, 0%, 1);
}

.Sean, .George{
    color: black;
    padding: 10 10 10 10;
}

img {
    position: static;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 10cm;
    height: 100mm;
}

#spreadsheet img{
    margin: 0 auto 0 auto;
    width: 20cm;
    height: 10cm;
}

.fixed {
    text-align: center;
    color: white;
    font-size: 2em;
    position: fixed;
    top: 90vh;
    right: 30px;
    background-color: grey;
    width: 2.5vw;
    min-width: 5%;
    max-width: 10%;
    height: 5vh;
    text-decoration: solid;
}

aside[attribute] {
    text-align: center;
}

input:hover {
    color: green;
    display: inline-block;
}

input:active {
    color: red;
}

details.flex{
    display: flex;
    flex-direction: column;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.grid > .subgrid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;
    grid-template-rows: 25%;
}

.subgrid div{
    width: 100px;
    height: 100px;
    padding: 1.5rem;
    border-radius: 1rem;
    margin: 1rem;
    background-color: rgb(220, 190, 223);
}

@media (max-width: 500px) {
    h1 {
        border-color: grey;
    }
}

h1 ~ h1 {
    color: grey;
}

label + input {
    color: brown;
}